@{
    ViewData["Title"] = "Sprint 13";
}

<div class="text-center">
    <h1 class="display-4">Views</h1>
    <p>Introduce <a href="https://github.com/FreeJobMe/sprint13-om-02_23-vorobei-demianchuk-antonova">our project.</a>.</p>
</div>
